{:paths ["src" "test"]
 :deps {gftd/scene {:git/url "https://github.com/kotoba-lang/scene.git" :sha "b0ca0ba9134dc8e57ebcb1d82d51829456d8b703"}
        gftd/postfx {:git/url "https://github.com/kotoba-lang/postfx.git" :sha "876fe9de25feac169f975a4360bdf311d35649d0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
